<!doctype html>
<html lang="pl">
<head>
      <title>Teatr</title>
      <meta charset="utf-8">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.js"></script>
</head>
<body>
	<table>

</table>
<form action="/add/" method="POST">
    Podaj miejsce do dodania: <input type="text" name="place">
    <br/>
    <input type="submit">
</form>

<p>
  nowe, nowe. dodajemy customera: <br>
  <form action="/submit" method="POST">
    <input type="text" name="customer[name]" value="Enter Customer Name" />
    <input type="text" name="customer[surname]" value="Enter Surname" />
    <input type="tel" name="customer[phone]" value="Enter phone" />
    <input type="email" name="customer[email]" value="Enter email" />
    <input type="submit" value="Dodaj customera" />
  </form>
</p>
</body>
</html>