		<div class="jumbotron text-center">
			<h1><font color="red">T</font>heatre</h1>
			<p>Elektroniczny system rezerwacji biletów do teatru</p>
		</div>
		<div class="row content">
			<div class="col-sm-offset-2 col-sm-4 top-default text-center">
				<span class="glyphicon large-icon glyphicon-user" aria-hidden="true"></span>
			</div>
			<div class="col-sm-4 top-default">
				<h1 class="main-color "><font color="red">R</font>ezerwacja</h1>
				<p class="text-justify top-default">
					Przejdź do panelu rezerwacji bietów dla klientów teatru.
				</p>
				<button class="btn btn-lg btn-danger btn-block" ui-sref="reservation.spectacles">Panel rezerwacji</button>
			</div>
		</div>